.navbar-inverse {background-color:#222;border-color:#080808}
.navbar-inverse .navbar-brand {color:#9d8700}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {color: #fedb00;background-color:transparent}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {color:#9d8700}
    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {color:#fedb00;background-color:transparent}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {color:#fedb00;background-color:#080808}
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:focus, .navbar-inverse .navbar-nav > .disabled > a:hover {color:#443b00;background-color:transparent}
.navbar-inverse .navbar-toggle {border-color:#333}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color:#333}
.navbar-inverse .navbar-toggle .icon-bar {background-color:#fff}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color: #101010}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {color: #fedb00;background-color: #080808}